@{
    ViewData["Title"] = "Deletar Contatos";
}
<div class="text-center">
    <h3 class="display-4">Realmente gostaria de deletar este contato?</h3>

    <a role="button" class="btn btn-primary btn-block" asp-controller="Pessoa"asp-action="Index">Cancelar Exclusão</a>
    <a role="button" class="btn btn-danger btn-block"asp-controller="Pessoa"asp-action="Apagar">Confirmar Exclusão</a>

