@{
    ViewData["Title"] = "Sobre os membros de nosso trabalho ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Membros do grupo:</p>
<ol>
    
    <li><a href="https://www.linkedin.com/in/jade-maria-467883164/">Jade Maria</a></li>
    <li><a href="https://www.linkedin.com/in/laryssa-p%C3%A9per-119502137/">Laryssa Péper</a></li>
    <li><a href="https://www.linkedin.com/in/saulo-vilela-barbosa-531902130/">Saulo Vilela</a></li>
    <li><a href="https://www.linkedin.com/in/thiagomaciel19/">Thiago Eid</a></li>
    <li><a href="https://github.com/Vinicius029">Vinícius</a></li>
</ol>
